@keyframes header_animation {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes app_name_animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.container {
	background-color: var(--black);
	display: flex;
	flex-direction: row;
	animation-name: header_animation;
	animation-duration: 0.75s;
	animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
	align-items: center;
	justify-content: space-between;
	padding: 0 2em;
	height: 75px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 20;
	border-bottom: solid 1px var(--light-black);
}

.app_name {
	color: var(--yellow);
	user-select: none;
	font-size: 1.5em;
	animation-name: app_name_animation;
	animation-duration: 0.75s;
	animation-delay: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	animation-timing-function: ease-out;
}
