.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 1em auto;
	gap: 1em;
}

.city {
	width: fit-content;
	height: fit-content;
	margin: 0 auto;
}

.filters_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	width: 50vw;
	gap: 1em;
	margin: 1em auto;

	& > div {
		height: 100%;
		width: 100%;
	}
	@media screen and (max-width: 768px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		& > div {
			max-width: 250px;
			min-width: 100px;
		}
	}
}
