version: "3"
services:
  node:
    build: ./server
    depends_on:
      - db
    environment:
      PORT: 5000
      MONGODB_URL: mongodb://db:27017/tripapps
  nextjs:
    build:
      context: ./client
      dockerfile: Dockerfile.nextjs
    depends_on:
      - node
      - nginx
    environment:
      BUILDTIME_API_URL: http://node:5000
      NEXT_PUBLIC_API_URL: /api
  nginx:
    build:
      context: ./client
      dockerfile: Dockerfile.nginx
    environment:
      NEXTJS_APP: nextjs
      NODE_APP: server
    ports:
      - 80:80
  db:
    image: mongo:latest
    restart: always
    volumes:
      - tripapps_volume:/data/db
volumes:
  tripapps_volume:

networks:
  default:
    name: tripapps_network
    driver: bridge
