.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	gap: 0.5em;
	width: 100%;
	max-width: 250px;
	min-width: 100px;
	font-size: 15px;
	user-select: none;
	transition: all 0.5s ease;
}

.list_item_selected {
	background-color: var(--black) !important;
	color: var(--yellow) !important;
}

.disabled {
	opacity: 0.4;
	pointer-events: none;
}

.label {
	margin: 0;

	color: var(--grey);
	padding-left: 0.2em;
}

.field {
	border: none;
	background-color: var(--light-black);
	color: var(--grey);
	outline: none;
	padding: 0.5em;
	width: 100%;
	height: 30px;
	border-radius: 0.2em;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.value {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5em;
}

.list {
	background-color: var(--light-black);
	position: absolute;
	top: 100%;
	transform: translateY(10px);
	list-style: none;
	border-radius: 0.2em;
	width: 100%;
	height: fit-content;
	user-select: none;
	gap: 0.2em;
	max-height: 150px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5em;
	z-index: 5;
	transition: all 0.2s ease;
}

.list_item {
	color: var(--grey);
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	border-radius: 4px;
	gap: 0.5em;

	&:hover {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.2);
		color: var(--grey);
	}
}

.toggler_container {
	position: absolute;
	top: 50%;
	right: 4%;
	transform: translateY(-50%) translateX(4%);
}

.icon {
	& > div {
		height: 15px;
		width: 15px;
		display: grid;
		place-items: center;
	}
}

.image {
	height: 20px;
	width: 20px;
}
