.container {
	height: fit-content;
	width: 200px;
	border-radius: 4px;

	background-color: transparent;
	border: solid 1px var(--yellow);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

.children {
	color: var(--yellow);
}

.icon {
	margin: 1em auto;
	width: fit-content;
}

.content {
	font-size: 14px;
	color: var(--grey);
}
