.container {
	height: calc(100vh - 75px);
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
}

@keyframes travelling_man_animation {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-1em);
	}
}

.travelling_man {
	display: grid;
	place-items: center;
	animation-name: travelling_man_animation;
	animation-direction: alternate;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	transition: opacity 0.7s ease;
}
