.container {
	padding-bottom: 2em;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, min-content);
	padding: 2em;
	place-items: center;
	margin: 0 auto;
	width: min-content;
	gap: 2em;
	height: 100%;
}

.keyword {
	color: var(--yellow);
	text-align: center;

	margin: 1.5em;
}

.keyword_flexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto;
	width: fit-content;
}

.icon {
	margin: 1em;
	color: var(--yellow);
	cursor: pointer;
	height: fit-content;
	width: fit-content;
	border-radius: 8px;
	padding: 0.25em;
	transition: all 0.2s ease;
}
