@keyframes content_header_animation {
	from {
		opacity: 0;
		transform: translateX(-10%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes content_body_animation {
	from {
		opacity: 0;
		transform: translateY(10%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.container {
	display: grid;
	place-items: center;
}

.flexbox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
	@media screen and (max-width: 768px) {
		width: 100%;
		padding: 2.5em;
	}
}

.yellow {
	color: var(--yellow);
}

.content_header {
	color: var(--grey);
	font-size: 1.5em;
	animation-name: content_header_animation;
	animation-fill-mode: backwards;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
	animation-delay: 0.5s;
}

.content_body {
	padding: 1em 0;
	color: var(--grey);
	font-size: 1em;
	animation-name: content_body_animation;
	animation-fill-mode: backwards;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
	animation-delay: 0.5s;
}
