.container {
	display: grid;
	place-items: center;
}

.flexbox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
}

.yellow {
	color: var(--yellow);
}

.content_header {
	color: var(--grey);
	font-size: 1.5em;
}

.content_body {
	padding: 1em 0;
	color: var(--grey);
	font-size: 1em;
}
