.button {
	outline: none;
	border-radius: 5px;
	padding: 0.5em 1em;
	transition: all 0.1s ease;
	border: none;
	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
}

.disabled {
	opacity: 0.4;
	pointer-events: none;
}

.primary {
	background-color: var(--yellow);
	color: var(--black);
}

.secondary {
	background-color: transparent;
	color: var(--yellow);
}
