@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --black: #0C1117;
    --light-black: #393E46;
    --yellow: #FFD369;
    --grey: #EEEEEE;
    --blue: #3282FF;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--black);
}


::-webkit-scrollbar-thumb {
    background: var(--yellow);

}


::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
}