@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;

	background-color: var(--black) !important;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	-webkit-user-drag: none;
	font-family: "Roboto", sans-serif !important;
}

a {
	height: auto;
	width: auto;
	text-decoration: none;
}

:root {
	--black: #0c1117;
	--light-black: #393e46;
	--yellow: #ffd369;
	--grey: #eeeeee;
	--blue: #3282ff;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: var(--black);
}

::-webkit-scrollbar-thumb {
	background: var(--yellow);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--grey);
}

@keyframes page_transition {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.page {
	animation-name: page_transition;
	animation-duration: 0.75s;
}
