.card {
	background-color: rgba(0, 0, 0, 0.3);
	color: var(--grey);
	border: solid 1px var(--yellow);
	border-radius: 5px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5em;
	height: fit-content;

	width: 200px;
	height: 250px;
	@media screen and (max-width: 768px) {
		width: fit-content;
	}
}

.image {
	border-radius: 5px;
}

.text {
	width: 100%;
	display: grid;
	place-items: center;
	gap: 0.5em;
	height: 100%;
	white-space: nowrap;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		width: 100%;
		padding: 1em;
	}
}

.app_name {
	width: 100%;
	color: var(--yellow);
	font-weight: 500;
	font-size: 16px;

	text-align: center;
}

.link {
	outline: none;
	color: var(--grey);
	transition: all 0.1s ease;
	border-bottom: solid 1px var(--grey);
	padding-bottom: 0.1em;
	margin: 0 auto;
	font-size: 16px;
	color: var(--blue);
	border-bottom-color: var(--blue);
}
