.card {
	background-color: var(--light-black);
	color: var(--grey);

	border-radius: 5px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5em;
	height: 250px;
	width: 250px;
}

.image {
	border-radius: 5px;
}

.text {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5em;
}

.app_name {
	width: 100%;
	color: var(--grey);
	font-weight: 500;
	font-size: 16px;

	text-align: center;
}

.link {
	outline: none;
	color: var(--grey);
	transition: all 0.1s ease;
	border-bottom: solid 1px var(--grey);
	padding-bottom: 0.1em;
	margin: 0 auto;
	font-size: 14px;
}
.link:hover {
	color: var(--blue);
	border-bottom-color: var(--blue);
}
