.card {
	background-color: rgba(0, 0, 0, 0.3);
	color: var(--grey);
	border: solid 1px var(--yellow);
	border-radius: 5px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5em;

	width: auto;
	height: 250px;
	@media screen and (max-width: 768px) {
		width: auto;
		max-width: 250px;
		height: auto;
	}
}

.image {
	height: 60px;
	width: 60px;
	display: grid;
	place-items: center;
}

.app_name {
	width: auto;
	min-width: 250px;
	color: var(--yellow);
	font-weight: 500;
	font-size: 16px;
	white-space: nowrap;

	text-align: center;
	@media screen and (max-width: 768px) {
		white-space: wrap;
	}
}

.text {
	width: 100%;
	display: grid;
	place-items: center;
	gap: 0.5em;
	height: 100%;
}

.link {
	outline: none;
	color: var(--grey);
	transition: all 0.1s ease;
	border-bottom: solid 1px var(--grey);
	padding-bottom: 0.1em;
	margin: 0 auto;
	font-size: 16px;
	color: var(--blue);
	border-bottom-color: var(--blue);

	display: grid;
	place-items: center;
}
