.container {
	padding-bottom: 2em;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, min-content);
	padding: 2em;
	place-items: center;
	margin: 0 auto;
	width: min-content;
	gap: 2em;
	height: 100%;
	@media screen and (max-width: 768px) {
		display: flex;
		grid-template-columns: initial;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 1em;
		width: 100%;
		padding: 1em;
	}
}

.keyword {
	color: var(--yellow);
	text-align: center;

	margin: 1.5em;
}

.keyword_flexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto;
	width: 80%;
	overflow-x: auto;
	gap: 1em;
	padding-bottom: 1em;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		width: 100%;
		padding: 1em;
	}
}

.icon {
	margin: 1em;
	color: var(--yellow);
	cursor: pointer;
	height: fit-content;
	width: fit-content;
	border-radius: 8px;
	padding: 0.25em;
	transition: all 0.2s ease;
}
