.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 30%;
}

.nav_item {
	outline: none;
	text-decoration: none;
	font-weight: 300;
	border-bottom: solid 1px transparent;
	padding-bottom: 0.1em;
	color: var(--grey);
	transition: all 0.2s ease;
	&:hover {
		border-bottom-color: var(--grey);
	}
}

.selected {
	color: var(--yellow);
	pointer-events: none;
	&:hover {
		border-bottom-color: transparent;
	}
}
