.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 2.5em;
	width: 100%;
}

@keyframes fade_in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.nav_item {
	outline: none;
	text-decoration: none;
	font-weight: 300;
	border-bottom: solid 1px transparent;
	padding-bottom: 0.1em;
	color: var(--grey);
	transition: all 0.2s ease;
	animation-name: fade_in;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
	&:first-child {
		animation-delay: 0.5s;
	}
	&:nth-child(2) {
		animation-delay: 0.7s;
	}
	&:last-child {
		animation-delay: 0.9s;
	}
	&:hover {
		border-bottom-color: var(--grey);
	}
}

.selected {
	color: var(--yellow);
	border-bottom-color: var(--yellow);
	&:hover {
		border-bottom-color: var(--yellow);
	}
}
