.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 1.5em;
	width: 100%;
	@media screen and (max-width: 768px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
	}
}
